services:
  mongo:
    image: mongo:7
    container_name: mongo
    restart: always
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_DATABASE: volleytrack
    volumes:
      - mongo-data:/data/db

  backend:
    build:
      context: ./BackendVolley
      dockerfile: Dockerfile
    container_name: backend
    restart: always
    env_file:
      - ./BackendVolley/.env  
    ports:
      - "5500:5500"
    depends_on:
      - mongo

  frontend:
    build:
      context: ./VolleyTrack   
      dockerfile: Dockerfile
    container_name: frontend
    restart: always
    ports:
      - "5174:5174"
    depends_on:
      - backend

volumes:
  mongo-data:
